body,
html {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body ul,
body li,
html ul,
html li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
html h1,
html h2,
html h3,
html h4,
html h5,
html h6 {
  font-weight: normal;
  line-height: 1.2;
}

body a,
html a {
  text-decoration: none;
}
