body,
html {
    margin: 0;
    padding: 0;
    // font-size: 12px;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    line-height: 1.2;
}

a {
    text-decoration: none;
}

.hide {
    .title-score,
    .title,
    #btn1,
    #btn2 {
        display: none;
    }
}


/* 主样式 */

.main {
    position: relative;
    width: 400px;
    height: 600px;
    margin: 100px auto 0;
    background: url(../images/background_1.png);
    /* 得分情况 */
    .title-score {
        padding: 20px;
        line-height: 30px;
    }
    /* 标题 */
    .title {
        width: 300px;
        margin: 150px auto 0;
        font-size: 30px;
        text-align: center;
        animation: titlecolor 5s infinite;
    }
    @-webkit-keyframes titlecolor {
        0% {
            color: #63a35c;
        }
        20% {
            color: #4f823c;
        }
        40% {
            color: #ff0084;
        }
        60% {
            color: rgb(156, 98, 21);
        }
        100% {
            color: green;
        }
    }
    /* 开始按钮 */
    .btn {
        margin: 0 auto;
        width: 300px;
        text-align: center;
        margin-top: 30px;
        div {
            margin: 20px auto 10px;
            height: 35px;
            line-height: 35px;
            width: 120px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.575);
            cursor: pointer;
        }
    }
}